.qu-box {
  border-radius: 4px;
  background-color: white;
  box-shadow: 3px 5px 16.2px 1.8px rgba(0, 0, 0, 0.11);
  padding: 20px;
  margin: 50px 0;
}

.question {
  font-size: 24px;
  margin: 15px 0;
  color: #1f90cf;
  font-family: "Din Next Regular";
}
.answers {
  margin: 15px 0;
  font-family: "Din Next Regular";
}

.orange-btn.btn-next {
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 35px;
  margin-right: 5px;
}

button.orange-btn {
  font-size: 16px;
  color: white;
  display: inline-block;
  border: none;
  background-color: #16a9ff;
  border-radius: 4px;
  line-height: 50px;
  padding-left: 45px;
  padding-right: 45px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  font-family: "Din Next Regular";
  cursor: pointer;
}

input[type="radio"] + label {
  color: #333;
  font-size: 18px;
  cursor: pointer;

  display: inline-flex;
}
.answers-list label {
  font-weight: 500;
}
.answers-list {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mat-progress-bar-fill::after {
  background-color: #16a9ff !important;
}
