@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@600;700&family=El+Messiri:wght@600&display=swap");

.rtl {
  @import url("https://fonts.googleapis.com/css2?family=Cairo:wght@600;700&family=El+Messiri:wght@600&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Changa:wght@600;700&display=swap");

  * {
    font-family: "Changa", sans-serif;
  }

  .main-menu {
    position: relative;
    z-index: 9;
    width: auto;
    top: 11px;
    float: left;
  }
  [class*=" pe-7s-"],
  [class^="pe-7s-"] {
    display: inline-block;
    font-family: Pe-icon-7-stroke;
  }
  ul#top_access {
    float: left;
    position: relative;
    top: 3px;
    margin: 0px 20px 0 0;
  }
  .words-header {
    display: none;
  }
  #app_section {
    text-align: right;
  }
  #app_section .app_buttons svg {
    display: none;
  }
  @media only screen and (min-width: 992px) {
    .main-menu ul ul {
      position: absolute;
      z-index: 1;
      visibility: hidden;
      right: 3px;
    }
    .main-menu ul ul li a {
      font-size: 13px;
      font-size: 0.8125rem;
      color: #555;
      border-bottom: 1px solid #ededed;
      display: block;
      padding: 15px 10px;
      line-height: 1;
      text-align: right;
    }
  }
  .main-menu ul a,
  .main-menu ul li a {
    font-size: 16px;
  }

  #app_section h3 {
    font-size: 22px;
  }

  #app_section p {
    margin-top: 20px;
    font-size: 18px;
  }
  .productFeatureIntro {
    text-align: right;
    padding: 2% 10% !important;
  }

  article.blog .post_info {
    text-align: right !important;
  }
  .comments-list h3 {
    text-align: right;
  }
  .comments-list h3 a {
    color: #333;
    margin-right: 10px;
  }
  .alignleft {
    float: right;
    margin: 0 15px 10px 0;
  }
  .widget-title {
    text-align: right;
  }
  .sponsors-wrapper li {
    float: right !important;
  }
  .footer-words {
    text-align: right;
  }
  .icon_mobile,
  .social_facebook,
  .social_twitter,
  .social_linkedin,
  .social_instagram,
  .icon_mail_alt {
    font-family: ElegantIcons;
  }
  footer ul.contacts li a i {
    margin-left: 10px;
    float: right;
    margin-top: 6px;
  }

  ul#additional_links {
    text-align: right;
  }
  footer #copy {
    text-align: left;
  }
  .box_list {
    text-align: right;
    visibility: visible !important;
  }
  #breadcrumb {
    text-align: right;
  }
  .box_profile ul.contacts {
    text-align: right;
  }
  .main_title_4 h3 {
    text-align: right;
  }
  .box-time {
    text-align: right !important;
  }
  .bookbtn {
    float: left !important;
  }
  .indent_title_in {
    position: relative;
    padding-right: 60px;
    margin-bottom: 20px;
  }
  .indent_title_in i {
    font-size: 40px;
    position: absolute;
    right: 0 !important;
    color: #3f4079;
    top: 0;
  }
  ul.list_edu li::before {
    font-family: fontello;
    content: "\ea3e";
    margin-left: 8px;
    color: #ccc;
    float: right;
  }
  .wrapper_indent {
    padding-right: 60px;
    text-align: right;
  }
  .indent_title_in {
    text-align: right;
  }
  ul.list_edu {
    margin-bottom: 0;
    line-height: 1.8;
    text-align: right;
  }

  .reviews-container .review-box {
    position: relative;
    margin-bottom: 25px;
    padding-right: 100px;
    min-height: 100px;
    text-align: right;
  }
  .reviews-container .rev-thumb {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 80px;
    height: 80px;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
  }
  .box_general_3 {
    text-align: right;
  }
  .modal-header .close {
    margin: 0;
    padding-top: 0;
  }
  .buytest {
    text-align: right;
  }
  .form-check-label {
    margin-right: 5px;
  }
  .vodcash {
    text-align: right;
  }
  .singlepost {
    text-align: right;
  }
  .requirements-content {
    text-align: right;
  }
  .aboutDetailes {
    text-align: right;
  }
  .about-review {
    text-align: right;
  }
  .about-review .user_review figure {
    position: absolute;
    right: 0;
    top: 0;
  }

  .about-review .user_review {
    padding-right: 60px;
  }

  .collection__photo {
    position: absolute;
    right: 50px;
    top: 0;
    width: 120px;
    height: 100%;
  }
  .collection {
    padding-right: 150px;
    padding-left: 0 !important;
  }
  .faqgroup {
    text-align: right;
  }
  .box_form {
    text-align: right;
  }
  .forgetpass {
    text-align: right;
  }
  .card-box-shadow {
    text-align: right;
  }
  .terms h3 {
    text-align: right;
  }
  .main-menu li a {
    text-align: right;
  }
  .fa {
    font: normal normal normal 14px/1 FontAwesome;
  }
  .dir-text {
    text-align: left !important;
  }

  .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    text-align: right !important;
  }
  .deleteprofile {
    float: left !important;
  }

  .bookingli {
    float: left !important;
    margin-left: 75%;
  }
  .qu-box {
    text-align: right;
  }
  .form-check {
    text-align: right;
  }
  .radiono {
    margin-right: 15px;
  }
  .form-check-input {
    right: 0;
  }
  .chooseimg {
    margin-right: 150px;
  }
  .popupprofile {
    text-align: right;
  }

  /*chat*/
  .pic-chat {
    cursor: pointer;
  }
  .img-chat {
    right: 30px;
    bottom: 30px;
    position: fixed;
    z-index: 282895219851;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.3);
  }

  #root {
    position: fixed;
    bottom: 10px;
    right: 5px;
    z-index: 54545648745;
    display: none;
  }

  .chat {
    position: relative;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 16px;
    border-radius: 10px;
    background: rgb(233, 238, 244);
  }
  .header-chat {
    height: 60px;
  }
  .thanks {
    margin-top: 20px;
    text-align: right;
    padding-right: 20px;
  }
  .minus {
    padding-top: 30px;
    margin-left: 20px;
  }

  .basic-chat {
    z-index: 1;
    color: rgb(66, 77, 87);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0.15em 0.3em;
    padding: 1rem;
    background: rgb(255, 255, 255);
  }

  .basic-img {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-left: 0.5em;
  }
  .basic1-img {
    text-align: center;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 0px;
    border-radius: 50%;
  }
  .basic1-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
  .active1 {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 13px;
    top: 0px;
    background: rgb(112, 213, 38);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-radius: 50%;
  }

  .inkom-chat {
    font-size: 0.9em;
    font-weight: bold;
    text-align: right;

    margin-right: 10%;
  }
  .chat-desc {
    font-weight: 300;
    font-size: 0.9em;
  }

  .chat-msg {
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.03) 0px -1em 1em;
    z-index: 1;
    background: rgb(255, 255, 255);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em;
  }

  .chat-footer {
    font-size: 0.65em;
    width: 100%;
    text-align: center;
    background-color: rgb(245, 245, 245);
    padding: 0.5em 0px;
  }

  .msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 867px;
    margin: 25px 10px;
    height: 350px;
    border: var(--border);
    border-radius: 5px;
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
    overflow: scroll;
  }

  .msger-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: var(--border);
    background: rgb(233, 232, 232);
    color: #666;
  }
  .msger-header-title {
    text-align: left;
  }

  .msger-chat {
    padding: 10px;
    width: 500px;
    height: 350px;
    overflow-y: scroll;
    background-color: #fcfcfe;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='260' height='260' viewBox='0 0 260 260'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23dddddd' fill-opacity='0.4'%3E%3Cpath d='M24.37 16c.2.65.39 1.32.54 2H21.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06A5 5 0 0 1-17.45 28v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H-20a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1L.9 19.22a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0L2.26 23h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM-13.82 27l16.37 4.91L18.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H-13.1z'/%3E%3Cpath id='path6_fill-copy' d='M284.37 16c.2.65.39 1.32.54 2H281.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06a5 5 0 0 1-2.24-8.94v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H240a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM246.18 27l16.37 4.91L278.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H246.9z'/%3E%3Cpath d='M159.5 21.02A9 9 0 0 0 151 15h-42a9 9 0 0 0-8.5 6.02 6 6 0 0 0 .02 11.96A8.99 8.99 0 0 0 109 45h42a9 9 0 0 0 8.48-12.02 6 6 0 0 0 .02-11.96zM151 17h-42a7 7 0 0 0-6.33 4h54.66a7 7 0 0 0-6.33-4zm-9.34 26a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-7a7 7 0 1 1 0-14h42a7 7 0 1 1 0 14h-9.34zM109 27a9 9 0 0 0-7.48 4H101a4 4 0 1 1 0-8h58a4 4 0 0 1 0 8h-.52a9 9 0 0 0-7.48-4h-42z'/%3E%3Cpath d='M39 115a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm6-8a6 6 0 1 1-12 0 6 6 0 0 1 12 0zm-3-29v-2h8v-6H40a4 4 0 0 0-4 4v10H22l-1.33 4-.67 2h2.19L26 130h26l3.81-40H58l-.67-2L56 84H42v-6zm-4-4v10h2V74h8v-2h-8a2 2 0 0 0-2 2zm2 12h14.56l.67 2H22.77l.67-2H40zm13.8 4H24.2l3.62 38h22.36l3.62-38z'/%3E%3Cpath d='M129 92h-6v4h-6v4h-6v14h-3l.24 2 3.76 32h36l3.76-32 .24-2h-3v-14h-6v-4h-6v-4h-8zm18 22v-12h-4v4h3v8h1zm-3 0v-6h-4v6h4zm-6 6v-16h-4v19.17c1.6-.7 2.97-1.8 4-3.17zm-6 3.8V100h-4v23.8a10.04 10.04 0 0 0 4 0zm-6-.63V104h-4v16a10.04 10.04 0 0 0 4 3.17zm-6-9.17v-6h-4v6h4zm-6 0v-8h3v-4h-4v12h1zm27-12v-4h-4v4h3v4h1v-4zm-6 0v-8h-4v4h3v4h1zm-6-4v-4h-4v8h1v-4h3zm-6 4v-4h-4v8h1v-4h3zm7 24a12 12 0 0 0 11.83-10h7.92l-3.53 30h-32.44l-3.53-30h7.92A12 12 0 0 0 130 126z'/%3E%3Cpath d='M212 86v2h-4v-2h4zm4 0h-2v2h2v-2zm-20 0v.1a5 5 0 0 0-.56 9.65l.06.25 1.12 4.48a2 2 0 0 0 1.94 1.52h.01l7.02 24.55a2 2 0 0 0 1.92 1.45h4.98a2 2 0 0 0 1.92-1.45l7.02-24.55a2 2 0 0 0 1.95-1.52L224.5 96l.06-.25a5 5 0 0 0-.56-9.65V86a14 14 0 0 0-28 0zm4 0h6v2h-9a3 3 0 1 0 0 6H223a3 3 0 1 0 0-6H220v-2h2a12 12 0 1 0-24 0h2zm-1.44 14l-1-4h24.88l-1 4h-22.88zm8.95 26l-6.86-24h18.7l-6.86 24h-4.98zM150 242a22 22 0 1 0 0-44 22 22 0 0 0 0 44zm24-22a24 24 0 1 1-48 0 24 24 0 0 1 48 0zm-28.38 17.73l2.04-.87a6 6 0 0 1 4.68 0l2.04.87a2 2 0 0 0 2.5-.82l1.14-1.9a6 6 0 0 1 3.79-2.75l2.15-.5a2 2 0 0 0 1.54-2.12l-.19-2.2a6 6 0 0 1 1.45-4.46l1.45-1.67a2 2 0 0 0 0-2.62l-1.45-1.67a6 6 0 0 1-1.45-4.46l.2-2.2a2 2 0 0 0-1.55-2.13l-2.15-.5a6 6 0 0 1-3.8-2.75l-1.13-1.9a2 2 0 0 0-2.5-.8l-2.04.86a6 6 0 0 1-4.68 0l-2.04-.87a2 2 0 0 0-2.5.82l-1.14 1.9a6 6 0 0 1-3.79 2.75l-2.15.5a2 2 0 0 0-1.54 2.12l.19 2.2a6 6 0 0 1-1.45 4.46l-1.45 1.67a2 2 0 0 0 0 2.62l1.45 1.67a6 6 0 0 1 1.45 4.46l-.2 2.2a2 2 0 0 0 1.55 2.13l2.15.5a6 6 0 0 1 3.8 2.75l1.13 1.9a2 2 0 0 0 2.5.8zm2.82.97a4 4 0 0 1 3.12 0l2.04.87a4 4 0 0 0 4.99-1.62l1.14-1.9a4 4 0 0 1 2.53-1.84l2.15-.5a4 4 0 0 0 3.09-4.24l-.2-2.2a4 4 0 0 1 .97-2.98l1.45-1.67a4 4 0 0 0 0-5.24l-1.45-1.67a4 4 0 0 1-.97-2.97l.2-2.2a4 4 0 0 0-3.09-4.25l-2.15-.5a4 4 0 0 1-2.53-1.84l-1.14-1.9a4 4 0 0 0-5-1.62l-2.03.87a4 4 0 0 1-3.12 0l-2.04-.87a4 4 0 0 0-4.99 1.62l-1.14 1.9a4 4 0 0 1-2.53 1.84l-2.15.5a4 4 0 0 0-3.09 4.24l.2 2.2a4 4 0 0 1-.97 2.98l-1.45 1.67a4 4 0 0 0 0 5.24l1.45 1.67a4 4 0 0 1 .97 2.97l-.2 2.2a4 4 0 0 0 3.09 4.25l2.15.5a4 4 0 0 1 2.53 1.84l1.14 1.9a4 4 0 0 0 5 1.62l2.03-.87zM152 207a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6 2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-11 1a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-6 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3-5a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-8 8a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm0 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4 7a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5-2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-5-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-24 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm16 5a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm7-5a7 7 0 1 1-14 0 7 7 0 0 1 14 0zm86-29a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1 246 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM275 214a29 29 0 0 0-57.97 0h57.96zM72.33 198.12c-.21-.32-.34-.7-.34-1.12v-12h-2v12a4.01 4.01 0 0 0 7.09 2.54c.57-.69.91-1.57.91-2.54v-12h-2v12a1.99 1.99 0 0 1-2 2 2 2 0 0 1-1.66-.88zM75 176c.38 0 .74-.04 1.1-.12a4 4 0 0 0 6.19 2.4A13.94 13.94 0 0 1 84 185v24a6 6 0 0 1-6 6h-3v9a5 5 0 1 1-10 0v-9h-3a6 6 0 0 1-6-6v-24a14 14 0 0 1 14-14 5 5 0 0 0 5 5zm-17 15v12a1.99 1.99 0 0 0 1.22 1.84 2 2 0 0 0 2.44-.72c.21-.32.34-.7.34-1.12v-12h2v12a3.98 3.98 0 0 1-5.35 3.77 3.98 3.98 0 0 1-.65-.3V209a4 4 0 0 0 4 4h16a4 4 0 0 0 4-4v-24c.01-1.53-.23-2.88-.72-4.17-.43.1-.87.16-1.28.17a6 6 0 0 1-5.2-3 7 7 0 0 1-6.47-4.88A12 12 0 0 0 58 185v6zm9 24v9a3 3 0 1 0 6 0v-9h-6z'/%3E%3Cpath d='M-17 191a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2H3a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2H4zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1-14 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM15 214a29 29 0 0 0-57.97 0h57.96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  .msg-text {
    width: 100%;
  }

  .msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  .msg:last-of-type {
    margin: 0;
  }
  .msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
    margin-right: 5px;
    margin-left: 5px;
  }
  .msg-info {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    text-align: left;
  }
  .msg-info-name {
    margin-right: 10px;
    font-weight: bold;
    text-align: right;
  }
  .msg-info-time {
    font-size: 0.85em;
  }

  .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }

  .right-msg {
    flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
    color: #fff;
    border-bottom-right-radius: 0;
  }
  .right-msg .msg-img {
    margin: 0 0 0 10px;
    margin-bottom: 20px;
  }

  .msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #eee;
  }
  .msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
  }
  .msger-input {
    flex: 1;
    background: #ddd;
  }
  .msger-send-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
  }
  .msger-send-btn:hover {
    background: rgb(0, 180, 50);
  }

  .chat-title {
    flex: 0 1 45px;
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    padding: 10px 10px 10px 50px;
  }

  /*    h2 {
      color: rgba(255, 255, 255, .5);
      font-size: 8px;
      letter-spacing: 1px;
    } */

  .avatar {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 9px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 2px solid rgba(255, 255, 255, 0.24);
  }

  .avatar img {
    width: 100%;
    height: auto;
  }
  .msg-info-name {
    text-align: right !important;
  }
  .thanks {
    margin-top: 20px !important;
    text-align: right !important;
    padding-right: 20px !important;
  }
  .minus {
    margin-left: 20px !important;
  }
  /*end of chat*/

  .rtl .msger {
    max-width: 100%;
  }

  .msger-chat {
    width: 100;
  }

  .chooseechild {
    text-align: right;
  }
  .form-group {
    position: relative;
  }

  .loginaye {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }

  .input-group-append {
    position: absolute;
    right: 92% !important;
    top: 0;
    height: 100%;
  }
  .input-group-append1 {
    position: absolute;
    right: 92% !important;
    top: 32px;
  }
  .loginaye {
    position: absolute;
    right: 95% !important;
    top: 0;
    height: 100%;
  }

  .widget-shopping-cart-content {
    display: none;
    position: absolute;
    top: 57px;
    background-color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
    padding: 0px;
    z-index: 99999;
    height: 500px;
    overflow-y: scroll;
    border-radius: 8px;
    overflow-x: hidden;
    right: -400px !important;
  }
  .widget-shopping-cart-content .notification {
    padding: 8px;
  }
  .bodynotification {
    padding: 5px;
  }
  /*end of chat*/

  .test {
    text-align: right;
    position: absolute;
    left: 0px !important;
    top: 0;
  }

  div.dropdown-multicol2 {
    position: absolute;
    left: 0px !important;
  }
  .bage1 {
    position: absolute;
    top: 1px;
    right: 14px !important;
    background: #fdaf43;
    color: white;
    font-size: 10px;
    padding: 0px;
    border-radius: 100px;
    width: 15px;
    text-align: center;
    line-height: 15px;
    font-weight: bold;
    opacity: 1;
    height: 15px;
    transition: all 0.5s ease;
  }
}

#page-preloader {
  position: fixed;
  background-color: white;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100500;
}
/* -----------------------------------------------------------------------------------

                                       /// PRELOADER
                                       
----------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------------

                                        SPINNER
                                       
----------------------------------------------------------------------------------- */
[id*="spinner-"] {
  width: 6em;
  height: 6em;
  margin: 20px auto;
}
/*
 * Spinner three
 */

#spinner-three {
  width: 6em;
  height: 6em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -3em 0 0 -3em;
}
#spinner-three #inner,
#spinner-three #outer {
  display: inline-block;
  position: absolute;
  border: 5px solid transparent;
}
#spinner-three #inner {
  width: 3em;
  height: 3em;
  border-radius: 3em;
  margin: 1.5em 0 0 1.5em;
  border-color: #82004a #82004a transparent transparent;
  -webkit-animation: spinnertwo 1000ms linear infinite;
  -moz-animation: spinnertwo 1000ms linear infinite;
  -ms-animation: spinnertwo 1000ms linear infinite;
  -o-animation: spinnertwo 1000ms linear infinite;
  animation: spinnertwo 1000ms linear infinite;
}
#spinner-three #outer {
  width: 6em;
  height: 6em;
  border-radius: 6em;
  border-color: transparent transparent #82004a #82004a;
  -webkit-animation: spinnerone 1000ms linear infinite;
  -moz-animation: spinnerone 1000ms linear infinite;
  -ms-animation: spinnerone 1000ms linear infinite;
  -o-animation: spinnerone 1000ms linear infinite;
  animation: spinnerone 1000ms linear infinite;
}
/*
 * Animations
 */

/*
 * Spinnerone animation
 */

@-webkit-keyframes spinnerone {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes spinnerone {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
/*
 * Spinnertwo animation
 */

@-webkit-keyframes spinnertwo {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinnertwo {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* -----------------------------------------------------------------------------------

                                       /// SPINNER
                                       
----------------------------------------------------------------------------------- */
#zmmtg-root {
  display: none;
  z-index: 65550165614547;
}
body {
  overflow: auto !important;
}
