/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import url("https://fonts.googleapis.com/css2?family=Kufam&display=swap");

@font-face {
  font-family: "kufam", sans-serif;
  src: url(./assets/fonts/kufam-regular-webfont.otf);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "kufam", "Helvetica Neue", sans-serif;
}
/*work-chance*/

.content-chance {
  margin-bottom: 50px;
}
.chancee {
  margin-top: 60px;
  margin-bottom: 0px;
}
/*accordion_dynamic*/
.customClass {
  background: #f6f6f6;

  color: #8d8d8d;
  text-align: right;
  text-decoration: none;
}

accordion-group > .panel > .panel-heading {
  transition: all 0.4s ease-in-out;
  background-color: #82004a;
  color: white;
}
.panel-heading {
  color: white;
}

accordion-group > .panel > .panel-heading:hover {
  padding-left: 30px;
  transition: all 0.4s ease-in-out;
}

.content-acc {
  color: #212529;
}

.content-jop {
  color: #424a4c;
  margin-right: 40px;
}
/*end_of_accordion_dynamic*/

.dropdown-menu {
  transform: translate3d(0px, 0px, 0px) !important;
  top: 25px !important;
}
.mat-horizontal-stepper-header-container {
  display: none !important;
}
ul#top_access li i {
  margin-top: 8px;
}

#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100500;
  background-color: white;
}

#page {
  position: relative;
}

.test {
  position: absolute;
  left: -320px !important;
  top: 0;
}

/*end of chat*/
/* -----------------------------------------------------------------------------------

                                       PRELOADER

----------------------------------------------------------------------------------- */

#page-preloader {
  position: fixed;
  background-color: white;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100500;
}
/* -----------------------------------------------------------------------------------

                                       /// PRELOADER
                                       
----------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------------

                                        SPINNER
                                       
----------------------------------------------------------------------------------- */
[id*="spinner-"] {
  width: 6em;
  height: 6em;
  margin: 20px auto;
}
/*
 * Spinner three
 */

#spinner-three {
  width: 6em;
  height: 6em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -3em 0 0 -3em;
}
#spinner-three #inner,
#spinner-three #outer {
  display: inline-block;
  position: absolute;
  border: 5px solid transparent;
}
#spinner-three #inner {
  width: 3em;
  height: 3em;
  border-radius: 3em;
  margin: 1.5em 0 0 1.5em;
  border-color: #82004a #82004a transparent transparent;
  -webkit-animation: spinnertwo 1000ms linear infinite;
  -moz-animation: spinnertwo 1000ms linear infinite;
  -ms-animation: spinnertwo 1000ms linear infinite;
  -o-animation: spinnertwo 1000ms linear infinite;
  animation: spinnertwo 1000ms linear infinite;
}
#spinner-three #outer {
  width: 6em;
  height: 6em;
  border-radius: 6em;
  border-color: transparent transparent #82004a #82004a;
  -webkit-animation: spinnerone 1000ms linear infinite;
  -moz-animation: spinnerone 1000ms linear infinite;
  -ms-animation: spinnerone 1000ms linear infinite;
  -o-animation: spinnerone 1000ms linear infinite;
  animation: spinnerone 1000ms linear infinite;
}
/*
 * Animations
 */

/*
 * Spinnerone animation
 */

@-webkit-keyframes spinnerone {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes spinnerone {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
/*
 * Spinnertwo animation
 */

@-webkit-keyframes spinnertwo {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinnertwo {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* -----------------------------------------------------------------------------------

                                       /// SPINNER
                                       
----------------------------------------------------------------------------------- */
#zmmtg-root {
  display: none;
  z-index: 65550165614547;
}
body {
  overflow: auto !important;
}
