.login-form {
  position: relative;
}

.login-form i {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #fa869b;
}
.login-form input {
  padding: 0 40px 0 0;
}
.btn-enter {
  width: 100%;
  background-color: #fa869b;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 100px;
}
.forget {
  text-align: center;
  margin-bottom: 40px;
}
.forget a {
  text-decoration: none;
  color: #2f4858;
}
.password-forget {
  display: none;
}

.modal-header {
  border-bottom: none;
}
